html {
  background: linear-gradient(to bottom right, #ffafaf, #afafff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

body {
  background-color: transparent;
  background-image: url(../assets/topography.svg);
  color: #fff;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

.figure {
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iframe {
  background: #fff;
  border: none;
  height: 70vh;
  width: 60vw;
}

.iframe.wide {
  width: 80vw;
}

.h1, .h2, .h3 {
  color: #fff;
  margin: 0;
  text-align: center;
}

.h1 {
  font-family: Limelight;
  font-size: 10vh;
}

.h2 {
  font-size: 7vh;
}

.h3,
.list-text {
  font-size: 5vh;
}

.h4 {
  font-size: 3vh;
}

.code {
  font-size: 1.25rem;
}

.simpleEntrance {
  animation-duration: 6s;
}

.section {
  height: 100vh;
  width: 100vw;
  /* align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.section-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.section.secondary.empty > * {
  display: none!important;
}

.body {
  padding-top: 4rem;
}

.animation-duration-3 { animation-duration: 3s; }
.animation-delay-500 { animation-delay: 500ms; }
.animation-delay-750 { animation-delay: 750ms; }
.animation-delay-1000 { animation-delay: 1000ms; }
.animation-delay-1250 { animation-delay: 1250ms; }
.animation-delay-1500 { animation-delay: 1500ms; }

.title.footer {
  position: absolute;
  bottom: 2rem;
}

.btn-big {
  align-items: center;
  cursor: pointer;
  font-size: 9vh;
  height: 25vh;
  width: 25vh;
}

.code-block,
.img-venus-block {
  height: 25rem;
  width: 28rem;
}

.container-img-venus {
  cursor: pointer;
  position: relative;
}

.img-venus {
  background: black;
  height: 25rem;
  width: 28rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
}

.img-venus-text {
  color: white;
  left: 50%;
  position: absolute;
  top: 1rem;
  transform: translateX(-50%);
  z-index: 10;
}

.img-venus-text-adjust {
  mix-blend-mode: difference;
}

.img-venus-pseudo-transition {
  transition: 500ms;
}

.img-venus-pseudo:hover {
  filter: blur(1.25rem);
  -webkit-filter: blur(1.25rem);
}

.img-venus-keyframes-single {
  height: 11.125rem;
  width: 12.5rem;
  margin: 1vh;
}

.img-venus-keyframes {
  z-index: 5;
}

.img-venus img {
  height: 100%;
}

.float {
  animation-name: float;
  animation-duration: 4.5s;
  animation-timing-function: linear;
}

.sway {
  animation-name: sway;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.shadow
{
  position: relative;
}
.shadow:before, .shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 1rem;
  left: 0.5rem;
  width: 50%;
  top: 80%;
  max-width: 18.75rem;
  background: #777;
  -webkit-box-shadow: 0 1rem 0.5rem #777;
  -moz-box-shadow: 0 1rem 0.5rem #777;
  box-shadow: 0 1rem 0.5rem #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 0.5rem;
  left: auto;
}