html {
  background: linear-gradient(to bottom right, #ffafaf, #afafff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

body {
  background-color: transparent;
  background-image: url(/assets/topography.svg);
  color: #fff;
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

figure {
  background: rgba(255, 255, 255, 0.5);
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

iframe {
  background: #fff;
  border: none;
  height: 70vh;
  width: 60vw;
}

h1, h2, h3 {
  color: #fff;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: Limelight;
  font-size: 10vh;
}

h2 {
  font-size: 7vh;
}

h3 {
  font-size: 5vh;
}

.simpleEntrance {
  animation-duration: 6s;
}

.section {
  height: 100vh;
  width: 100vw;
  /* align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.section-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.section.secondary.empty > * {
  display: none!important;
}

.body {
  height: 40vh;
  padding-top: 50px;
}

/* .section:nth-of-type(2n) {
  background: url(/assets/billie-holiday.png);
} */

.animation-duration-3 {
  animation-duration: 3s;
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-750 {
  animation-delay: 750ms;
}

.animation-delay-1000 {
  animation-delay: 1000ms;
}

.container-img-venus {
  cursor: pointer;
  height: 400px;
  width: 450px;
  position: relative;
}

.container-img-venus:hover {
  /* animation-name: shake; */
}

.img-venus {
  height: 400px;
  width: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
}

.img-venus-keyframes {
  z-index: 5;
}

.img-venus img {
  height: 100%;
}

.float {
  animation-name: float;
  animation-duration: 4.5s;
  animation-timing-function: linear;
}

.sway {
  animation-name: sway;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.shadow
{
  position: relative;
}
.shadow:before, .shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}